<!DOCTYPE html>
<html>
    <head>
        <title>title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <table width="100%" cellpadding="0" cellspacing="0" style="font-size:10.0pt;font-family:Arial,sans-serif;color: #000;">    
            <tbody>
                <tr>
                    <td align="left" width="50%" valign="top" style="">
                        <strong >Ryan McCullough</strong>
                    </td>
                </tr>
                <tr>
                    <td align="left" width="50%" valign="top" style="">
                        <strong>Independent Financial Adviser</strong>
                    </td>
                </tr>
                <tr>
                    <td >
                        <span style="font-size:9.0pt">Obsidian House</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size:9.0pt">Hints Road</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size:9.0pt">Mile Oak</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size:9.0pt">Tamworth</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong  style="font-size:9.0pt">Staffordshire</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong  style="font-size:9.0pt">B78 3PQ</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img border="0" src="images/logo4.jpg" alt="Test site">
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td>Tel</td>
                                    <td>0345 250 8400</td>
                                </tr>
                                <tr>
                                    <td>Mobile</td>
                                    <td>07789 935023</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><a href="mailto:Ryan.McCullough@obsidian-financial.com" target="_blank" title="Click to send email to Ryan McCullough"><span style="color:#4F81BD">Ryan.McCullough@obsidian-financial.com</span></a></td>
                                </tr>
                                <tr>
                                    <td>Web</td>
                                    <td><a href="http://www.obsidian-financial.co.uk" target="_blank">www.obsidian-financial.co.uk</a></td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>