<html>
    <head>

    </head>
    <body>
        <table width="550" cellpadding="0" cellspacing="0">    
            <tbody>
                <tr>
                    <td align="left" width="50%" valign="top" style="font-size:10px;color:#686868;line-height:150%;font-family:Verdana;padding:10px 0">
                        <strong>Test site</strong><br>
                        <strong>slogan</strong><br>
                    </td>
                </tr>
                <tr>
Obsidian House
Hints Road 
Mile Oak

Tamworth

Staffordshire

B78 3PQ
            <span>Obsidian House</span>
        </tr>
        <tr>
            <td>
                <p>MOBILE: test</p>
                <p>OFFICE TEL: 07971 161731</p>
                <p>EMAIL: Email@gmail.com</p>
                <p>WEB: www.example.com</p>
            </td>
        </tr>
        <tr>
            <td align="left" width="50%" valign="top" style="font-size:10px;color:#686868;line-height:150%;font-family:Verdana;padding:10px 0">
                <strong>Blackstone Partners</strong><br>
                <strong>slogan</strong><br>
                <strong>Test site</strong><br>
                <a href="">2 Ty Nant Court</a>

                <a href="">Morganstown</a><br>

                <a href="">Cardiff</a><br>

                <a href="">England</a><br>

                <a href="">CF15 8LW</a><br>
            </td>
        </tr>
        <tr>
            <td>
                <p>Carl Whitelock is a member by examination of:</p>
                <img border="0" src="root/xtheme/images/image003.jpg" alt="Test site">        </td>
        </tr>
    </tbody>
</table>
</body>
</html>
