<!DOCTYPE html>
<html>
    <head>
        <title>title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <table width="100%" cellpadding="0" cellspacing="0" style="font-size:10.0pt;font-family:Arial,sans-serif;color: #000;">    
            <tbody>
                <tr>
                    <td align="left" width="50%" valign="top" style="">
                        <strong >Carl Whitelock</strong><br>
                    </td>
                </tr>
                <tr>
                    <td align="left" width="50%" valign="top" style="">
                        <strong>Independent Financial Adviser</strong><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img border="0" src="images/logo_mailshot.gif" alt="Test site">
                    </td>
                </tr>
                <tr>
                    <td >
                        <span style="font-size:9.0pt">MOBILE:  07971 161731</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size:9.0pt">OFFICE TEL: 0345 250 8420</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size:9.0pt">EMAIL: <a href="mailto:Carl.Whitelock@blackstonepartners.com" target="_blank" title="Click to send email to Carl Whitelock"><span style="color:#0563C1">Carl.Whitelock@blackstonepartners.com</span></a></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size:9.0pt">WEB: <a href="http://www.blackstonepartners.com" target="_blank"><span style="color:#0563C1">www.blackstonepartners.com</span></a></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong  style="font-size:9.0pt">Blackstone Partners</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong  style="font-size:9.0pt">Suite A First Floor,</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><a  style="font-size:9.0pt;color:#800080" href="">2 Ty Nant Court</a></strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><a  style="font-size:9.0pt;color:#800080" href="">Morganstown</a></strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><a  style="font-size:9.0pt;color:#800080" href="">Cardiff</a></strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><a  style="font-size:9.0pt;color:#800080" href="">CF15 8LW</a></strong>
                    </td>
                </tr>

                <tr>
                    <td>
                        <br>
                        <p>Carl Whitelock is a member by examination of:</p>
                        <img border="0" src="images/image003.jpg" alt="Test site"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>